/*
    Document   : css/mainStyle．css
    Created on : 2014-11-25 09:27 PM
    Author     : bluechiptony
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body{
    background:#d8d8d8;
    
    
}
root {
    display: block;
}

#form_div{
    width:300px;    
    float:left;
    padding:10px;
    margin:40px;
     
}
#user_sect{
    width:300px;
    float:left;
    padding:10px;
    
    
}
#user_list{
    width:300px;
    
    padding:10px;
    
}

#u_list{
    list-style:none;   
    font-size:17px;
    
    
}

#sub_list{
    list-style:none;
    font-size:12px;
    
}

#age_dec{
    font-size:14px;
    font-family:arial;
}
#age_blow{
    font-size:50px;
    font-weight:bolder;
    font-family:arial;
}

#error_msgs li{
    color:red;
    font-style:italic;
    font-size:14px;
    list-style:none;
    font-weight:bold;    
}



label{
    font-family:helvetica, san-serif, arial;
    font-size:22;
    
}


.sub_but{
    
    height:30px;
    background:#2088d8;
    margin-bottom:20px;
    width:160px;
    border-radius:3px;
    box-shadow:0 0 2px 0 black;
    cursor:pointer;
    color:white;
    border:0;
    
    
}

.but_sub_min{
     margin-left:10px;
    margin-right:5px;
    height:30px;
    width:40px;
    padding:2px;
    font-size:15px;
    color:#404751;
}

.sub_buta{
    height:30px;
    background:#2088ee;
    margin-bottom:20px;
    width:160px;
    border-radius:3px;
    box-shadow:0 0 2px 0 black;
    cursor:pointer;
    color:white;
    border:0;
    
    
}

#con_div{
    margin-bottom:20px;
    padding:5px;
    background:#E2E2E2;
}

.textbox{
    margin-bottom:10px;
    margin-top:5px;
    height:30px;
    width:190px;
    padding:2px;
    font-size:15px;
    color:#404751;
   
    
    
}

.textbox:focus{
   /* box-shadow: 0 0 2px 0 blue;
    border:0;*/
    
}